@model BeHealthy.Web.Dtos.Users.ViewModels.UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-dark">@Model.UserName</h1>
<h3>Member since: @Model.CreatedOn.ToString("d")</h3>

<hr />

<h4>Created exercises:</h4>

@foreach (var exercise in Model.CreatedExercises)
{
    <div class="card my-2">
        <h5 class="card-header">@exercise.Name</h5>
        <div class="card-body">
            <h5 class="card-title">Rating: @exercise.Rating.ToString("f2") <i class="fa fa-star"></i></h5>
            <p class="card-text">@exercise.Description</p>
            <a asp-area="Fitness" asp-controller="Exercises" asp-action="Details" asp-route-exerciseId="@exercise.Id" class="btn btn-primary">Details</a>
        </div>
    </div>
}
