@model BeHealthy.Web.Dtos.Fitness.Exercises.ViewModels.ExerciseViewModel

@{
    ViewData["Title"] = "Details";
    var first = true;
    var isAdministrator = this.User.IsInRole(GlobalConstants.AdministratorRoleName);
}

<h1>@Model.Name</h1>
<h3>Creator: <a class="text-dark" asp-controller="Users" asp-action="Details" asp-route-username="@Model.CreatorUserName">@Model.CreatorUserName</a></h3>
<div class="shadow-none p-3 mb-5 bg-light rounded">@Model.Description</div>

<h4>Steps</h4>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.ExerciseSteps.Count(); i++)
        {
            <li data-target="#carouselExampleCaptions" data-slide-to="@i"
                @if (i == 0) { @: class="active"
                }></li>
        }
    </ol>
    <div class="carousel-inner">
        @foreach (var step in Model.ExerciseSteps)
        {
            <div class="carousel-item @if(first){
                 @:active
                 first = false;
                 }">
                <img src="@step.Image" class="d-block w-75 h-auto" alt="@step.Heading">
                <div class="carousel-caption d-none d-md-block bg-dark">
                    <h5>@step.Heading</h5>
                    <p>@step.Description</p>
                    @if (Model.IsAcessorCreator || isAdministrator)
                    {
                        <a class="btn btn-warning float-left mx-md-3" asp-area="Fitness" asp-controller="ExerciseSteps" asp-action="Edit" asp-route-exerciseStepId="@step.Id">Edit</a>
                        <a class="btn btn-danger float-right mx-md-3" asp-area="Fitness" asp-controller="ExerciseSteps" asp-action="Delete" asp-route-exerciseStepId="@step.Id">Delete</a>
                    }
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="tagContainer" class="shadow p-3 mb-5 bg-white rounded">
    <h4 id="preview" for="tags">Tags</h4>
    @foreach (var tag in Model.ExerciseTags)
    {
        <div class="btn btn-primary">
            <a class="text-light" asp-area="Fitness" asp-controller="Exercises" asp-action="AllWithTag" asp-route-tag="@tag.TagName">@tag.TagName</a>
            @if (Model.IsAcessorCreator || isAdministrator)
            {
                <i class="fas fa-minus text-warning bg-danger rounded" href="/api/Tags/Exercise" data-action="delete" data-id="@tag.TagId"></i>
            }
        </div>
    }
</div>

@if (!Model.IsAcessorCreator)
{
    @if (!isAdministrator)
    {
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <h3>Rate</h3>
            <form id="ratingForm" method="post">
                @for (int i = 1; i <= 5; i++)
                {
                    <i class="fas fa-star" @if (Model.ExerciseReviewUserRating >= i) { @: style="color: gold;"
                       } data-value="@i"></i>
                }
            </form>
        </div>

        <h4>Actions</h4>

        <a class="btn btn-primary" asp-area="Fitness" asp-controller="Workouts" asp-action="AddExercise" asp-route-exerciseId="@Model.Id">Add to workout</a>

        @section Scripts{
            <script src="~/js/rating.min.js" asp-append-version="true"></script>
            <script type="text/javascript">main(@Model.ExerciseReviewUserRating);</script>
        }
    }
    else
    {
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <h3>Rate</h3>
            <form id="ratingForm" method="post">
                @for (int i = 1; i <= 5; i++)
                {
                    <i class="fas fa-star" @if (Model.ExerciseReviewUserRating >= i) { @: style="color: gold;"
                       } data-value="@i"></i>
                }
            </form>
        </div>
        <form id="tagForm" method="post"></form>

        <h4>Actions</h4>
        <a class="btn btn-primary" asp-area="Fitness" asp-controller="Workouts" asp-action="AddExercise" asp-route-exerciseId="@Model.Id">Add to workout</a>
        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#confirm-delete">Delete</a>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Delete
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete @Model.Name?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger btn-ok" asp-area="Fitness" asp-controller="Exercises" asp-action="Delete" asp-route-exerciseId="@Model.Id">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        @section Scripts{
            <script src="~/js/rating.min.js" asp-append-version="true"></script>
            <script type="text/javascript">main(@Model.ExerciseReviewUserRating);</script>
            <script src="~/js/tags.min.js" asp-append-version="true"></script>
            <script type="text/javascript">
            mainTags("@Model.Id");
            </script>
        }
    }
}
else
{
    <h4>Add a tag</h4>
    <h6>Write a tag name and press spacebar to post it. Allowed characters lowercase alphabet characters and "-".</h6>
    <form id="tagForm" method="post">
        <input id="tagInput" type="text" class="form-control" />
    </form>

    <hr />
    <h4>Actions</h4>
    <a class="btn btn-primary" asp-area="Fitness" asp-controller="ExerciseSteps" asp-action="Create" asp-route-exerciseId="@Model.Id">Add Exercise Step</a>
    <a class="btn btn-primary" asp-area="Fitness" asp-controller="Workouts" asp-action="AddExercise" asp-route-exerciseId="@Model.Id">Add to workout</a>
    @if (Model.IsPublished)
    {
        <a class="btn btn-warning" asp-area="Fitness" asp-controller="Exercises" asp-action="ChangePublishState" asp-route-exerciseId="@Model.Id">Hide</a>
    }
    else
    {
        <a class="btn btn-success" asp-area="Fitness" asp-controller="Exercises" asp-action="ChangePublishState" asp-route-exerciseId="@Model.Id">Publish</a>
    }
    <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#confirm-delete">Delete</a>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirm Delete
                </div>
                <div class="modal-body">
                    Are you sure you want to delete @Model.Name?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok" asp-area="Fitness" asp-controller="Exercises" asp-action="Delete" asp-route-exerciseId="@Model.Id">Delete</a>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script src="~/js/tags.min.js" asp-append-version="true"></script>
        <script type="text/javascript">
            mainTags("@Model.Id");
        </script>
    }
}