@model BeHealthy.Web.Dtos.Fitness.Workouts.InputModels.WorkoutInputModel

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-area="Fitness" asp-controller="Workouts" asp-action="Create">
    <h1>Create a workout</h1>
    <hr />
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Weekday"></label>
        <select class="form-control dropdown" asp-for="@Model.Weekday" asp-items="@Html.GetEnumSelectList(typeof(BeHealthy.Data.Models.Enumerators.Weekday))"></select>
        <span asp-validation-for="@Model.Weekday" class="text-danger"></span>
    </div>
    <input class="btn btn-success" type="submit" value="Create" />
    <a class="btn btn-danger" asp-area="Fitness" asp-controller="Workouts" asp-action="Schedule">Back</a>
</form>